<nav class="navbar navbar-expand-lg navbar-light bg-white w-100 navigation" id="navbar">
    <div class="container">
      <a class="navbar-brand font-weight-bold" href="#">E-Shop</a>
  
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar"
        aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse " id="main-navbar">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home </a>
          </li>
  
          <li class="nav-item">
            <a class="nav-link" href="#">About Us</a>
          </li>
          <!-- Pages -->
          <li class="nav-item dropdown dropdown-slide">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown4" role="button" data-delay="350"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Pages.
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown4">
              <li><a href="#">About Us</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Blog Single</a></li>
              <li><a href="#">Contact</a></li>
              <li><a href="#">404 Page</a></li>
              <li><a href="#">FAQ</a></li>
            </ul>
          </li><!-- /Pages -->
          <!-- / Blog -->
  
          <li class="nav-item dropdown dropdown-slide">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-delay="350"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Shop.
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown3">
              <li><a href="#">Shop</a></li>
              <li><a href="#">Product Details</a></li>
              <li><a href="#">Checkout</a></li>
              <li><a href="#">Cart</a></li>
              <li><a href="#">Confirmation</a></li>
            </ul>
          </li><!-- / Blog -->
  
          <!-- Account -->
          <li class="nav-item dropdown dropdown-slide">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown5" role="button" data-delay="350"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Account.
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown5">
              <li><a href="#">Dahsboard</a></li>
              <li><a href="#">Orders</a></li>
              <li><a href="#">Downloads</a></li>
              <li><a href="#">Address</a></li>
              <li><a href="#">Profile Details</a></li>
              <li><a href="#">Login Page</a></li>
              <li><a href="#">SignUp Page</a></li>
              <li><a href="#">Forgot Password</a></li>
            </ul>
          </li><!-- / Account -->
  
          <li class="nav-item">
            <a class="nav-link" href="#">Contact Us</a>
          </li>
        </ul>
      </div>
      <!-- Navbar-collapse -->
  
      <ul class="top-menu list-inline mb-0 d-none d-lg-block" id="top-menu">
        <li class="list-inline-item">
          <a href="#" class="search_toggle" id="search-icon"><i class="tf-ion-android-search"></i></a>
        </li>
        <li class="list-inline-item">
            <i routerLink="cart" class="tf-ion-android-cart"> <div class="badge bg-danger" >{{totalItemNumber}}</div></i>
        </li>
        </ul>
      <!-- <button routerLink="cart" class="btn btn-primary btn-sm">
          <i  class="tf-ion-android-cart"></i>
          <div class="badge bg-danger" >{{totalItemNumber}}</div>
      </button> -->
    </div>
  </nav>
